<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!--Importing stylesheet-->
    <link rel = "stylesheet" type = "text/css" href = "stylesheets/other.css">
    <link rel = "stylesheet" type = "text/css" href = "stylesheets/animate.css">
    <!--Material design library (css and js)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
        
        <!--  -->

</body>
</html>