<!DOCTYPE html>
<html>
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>GAP Analysis - Powered by Bookaholicc</title>
	    <!--Importing stylesheet-->
	    <link rel = "stylesheet" type = "text/css" href = "stylesheets/home.css">
	    <link rel = "stylesheet" type = "text/css" href = "stylesheets/animate.css">
	    <!--Material design library (css and js)-->
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

	    <!-- Firebase initilisation Scripts , Need to implement Login -->

		<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyDkUrO8mbjTcyA1eFn09LnOOd-XycVQXb8",
		    authDomain: "audit-app-819d8.firebaseapp.com",
		    databaseURL: "https://audit-app-819d8.firebaseio.com",
		    projectId: "audit-app-819d8",
		    storageBucket: "audit-app-819d8.appspot.com",
		    messagingSenderId: "52433528836"
		  };
		  firebase.initializeApp(config);
		</script>
	</head>

	<!-- Start of Body -->
	<body>


		

	 <script src = "scripts/login.js"></script>

	</body>
</html>






