<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GAP Analysis - Powered by Bookaholicc</title>
    <!--jQuery imported-->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--JavaScript file imported-->
    <script src = "../public/home.js"></script>
    <!--Importing stylesheet-->
    <link rel = "stylesheet" type = "text/css" href = "../public/home.css">
    <!--Material design library (css and js)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="create_button">
      <i class="material-icons">add</i>
    </button>
</body>
</html>